.message {
    transition: transform .2s; /* Animation */
  }
  .message:hover {
    transform: scale(1.025); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }